contact section.contact {
  padding: 50px 0px 50px 0px;
}
contact section.contact h1.contact-title {
  text-align: center;
}
contact section.contact .card-container {
  font-size: 16px;
  padding: 25px 10px 10px 10px;
}
contact section.contact .card-container .contact-card {
  height: 180px;
  position: relative;
  padding: 10px 10px 10px 10px;
}
contact section.contact .card-container .contact-card .card-content {
  overflow-wrap: break-word;
  padding: 5px 5px 5px 5px;
}
#contact-icon {
  font-size: 120px;
  color: #f03838;
}
#contact-icon:hover {
  color: #9e9e9e;
}
